@import "variables";

@mixin display-flex() {
	display: table-cell;
	display: flex;
}

@mixin fonts ($size, $font, $font-weight, $color) {
	font-size: $size;
	font-family: $font;
	font-weight: $font-weight;
	color: $color;
}

@mixin buttons($width, $height, $border, $border-radius) {
	width: $width;
	height: $height;
	border: $border;
	border-radius: $border-radius;
}

@mixin shadow($box-shadow) {
	box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
};

@mixin media($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}